SmartHome.json
[
    {
        "id": "cc792ed57a172589",
        "type": "tab",
        "label": "HomeKit: Pico2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb69f771b29b7f7d",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "d96b74de59109486",
            "f9733619d4eb1c4f"
        ],
        "x": 534,
        "y": 259,
        "w": 432,
        "h": 82
    },
    {
        "id": "dca074dccfefc042",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "5bfb88c50a411c92",
            "c74eba7709b55af2"
        ],
        "x": 534,
        "y": 179,
        "w": 412,
        "h": 82
    },
    {
        "id": "aed581126b8c329f",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "d623c2e013984d1e",
            "19fc56d5c2aa9aad"
        ],
        "x": 534,
        "y": 99,
        "w": 412,
        "h": 82
    },
    {
        "id": "a69c78d269a245ac",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "bf02f5e4dfbed7c7",
            "c346b2fcd87d3678"
        ],
        "x": 534,
        "y": 1619,
        "w": 432,
        "h": 82
    },
    {
        "id": "9f63809c74c927f0",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "dacafddb15a5be2b",
            "6536bfe53655a8ae"
        ],
        "x": 534,
        "y": 1539,
        "w": 432,
        "h": 82
    },
    {
        "id": "436a1221fad7c120",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "d373918f78c10f6e",
            "83437cd02eb2c47b"
        ],
        "x": 534,
        "y": 1459,
        "w": 432,
        "h": 82
    },
    {
        "id": "993e4b754237ea12",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "15366badb241c91d",
            "4d9c5e0a390d0b6c"
        ],
        "x": 574,
        "y": 1379,
        "w": 352,
        "h": 82
    },
    {
        "id": "da38845be9b02156",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "ea81ab3aa51efed5",
            "aab2df504b09424a"
        ],
        "x": 574,
        "y": 1299,
        "w": 352,
        "h": 82
    },
    {
        "id": "c4140188642fd160",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "64e347413da22d71",
            "0eac733c983e69b4"
        ],
        "x": 574,
        "y": 1219,
        "w": 362,
        "h": 82
    },
    {
        "id": "10b0cd14d226c1c3",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "4b2937bb39ad6227",
            "d0f0047ecc0adba4"
        ],
        "x": 574,
        "y": 1139,
        "w": 362,
        "h": 82
    },
    {
        "id": "b02af391279f52e2",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "3bcd6a79b4b749d5",
            "10084bed99091ce1"
        ],
        "x": 574,
        "y": 1059,
        "w": 362,
        "h": 82
    },
    {
        "id": "2a02ae9301f06607",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "2d431610c086c526",
            "30327e90dc165026"
        ],
        "x": 574,
        "y": 979,
        "w": 362,
        "h": 82
    },
    {
        "id": "110d6e6809ebf49b",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "5ecc5a42721a1d11",
            "82fc16c7c2e398cc"
        ],
        "x": 574,
        "y": 899,
        "w": 362,
        "h": 82
    },
    {
        "id": "a6dd2e03079c7c75",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "b4e6270a62b2082c",
            "34ddd89cfb24b6b6"
        ],
        "x": 574,
        "y": 819,
        "w": 362,
        "h": 82
    },
    {
        "id": "03e886e5d7a0a166",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "51027083133c6067",
            "34dbf04ba0cc7e5d"
        ],
        "x": 574,
        "y": 739,
        "w": 362,
        "h": 82
    },
    {
        "id": "0a6ed8c428ed9856",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "00feacb416688361",
            "00d7ffdd7ff3d588"
        ],
        "x": 574,
        "y": 659,
        "w": 362,
        "h": 82
    },
    {
        "id": "970880be09a74a56",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "146790e10a4134fd",
            "13175e17a940ba06"
        ],
        "x": 574,
        "y": 579,
        "w": 362,
        "h": 82
    },
    {
        "id": "a03e12c588ed395f",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "5169d8b2c2eeb3bf",
            "1ba16adb7dd28321"
        ],
        "x": 554,
        "y": 19,
        "w": 352,
        "h": 82
    },
    {
        "id": "6f244661782ea9fd",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "e3970137f216f789",
            "8cbd999700a60130"
        ],
        "x": 534,
        "y": 339,
        "w": 412,
        "h": 82
    },
    {
        "id": "0b371e439ee48be4",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "9854a40f49a5819c",
            "b598a9454022b6d6"
        ],
        "x": 574,
        "y": 499,
        "w": 362,
        "h": 82
    },
    {
        "id": "7195f78019a35ca2",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "MapPercent + Cmd Format + Feedback Current & Target Position",
        "style": {
            "label": true
        },
        "nodes": [
            "57ca31ee7a894876",
            "9b49104bd8d851e0",
            "dfd53ea1d5890787",
            "80aff275957df4e8"
        ],
        "x": 1174,
        "y": 559,
        "w": 542,
        "h": 122
    },
    {
        "id": "a49699dc3eaedcdc",
        "type": "group",
        "z": "cc792ed57a172589",
        "name": "Window covering accessory",
        "style": {
            "label": true
        },
        "nodes": [
            "2a086b1f0b47bee1",
            "0e9f5fc11da05f6f"
        ],
        "x": 574,
        "y": 419,
        "w": 362,
        "h": 82
    },
    {
        "id": "2a086b1f0b47bee1",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "a49699dc3eaedcdc",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "Drew",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "0e9f5fc11da05f6f"
            ],
            []
        ]
    },
    {
        "id": "0e9f5fc11da05f6f",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "a49699dc3eaedcdc",
        "name": "blinds_num = 20",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "9854a40f49a5819c",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "0b371e439ee48be4",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "Raj",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "b598a9454022b6d6"
            ],
            []
        ]
    },
    {
        "id": "9b49104bd8d851e0",
        "type": "function",
        "z": "cc792ed57a172589",
        "g": "7195f78019a35ca2",
        "name": "mapPercent",
        "func": "const levelToThresholdMap = {\n    \"DN\": 0, \"G3\": 25, \"G2\": 50, \"G1\": 75, \"UP\": 100\n};\n\nfunction getNearestLevel(percentage) {\n    const levels = Object.keys(levelToThresholdMap);\n    let nearestLevel = levels[0];\n    let nearestDifference = Math.abs(percentage - levelToThresholdMap[nearestLevel]);\n    for (let level of levels) {\n        let threshold = levelToThresholdMap[level];\n        let difference = Math.abs(percentage - threshold);\n        if (difference < nearestDifference) {\n            nearestDifference = difference;\n            nearestLevel = level;\n        }\n    }\n    return nearestLevel;\n}\n\nfunction controlBlind(blinds_num, targetPosition){\n    let currentPosition = context.get('currentPosition');\n    // node.warn('target position: ' + targetPosition + ' \\n' + 'current position: ' + currentPosition);\n    let sendCmdFeedback = currentPosition != targetPosition;\n    let targetLevel = getNearestLevel(targetPosition);\n\n    targetPosition = levelToThresholdMap[targetLevel];\n    context.set('currentPosition', targetPosition);\n    \n    let deviceCommand;\n    if(blinds_num == 0){\n        deviceCommand = \"#0.0.0.A=\" + targetLevel + \"\\r\";\n    } else {\n        deviceCommand = \"#255.\"+blinds_num+\".255.A=\" + targetLevel + \"\\r\";\n    }\n    \n    if (sendCmdFeedback) {\n        node.send([{ payload: deviceCommand }, null]);\n        setTimeout(() => {\n            let homekitMessage = {\n                \"CurrentPosition\": targetPosition,\n                \"TargetPosition\": targetPosition\n            };\n            let feedback = {\n                \"BlindsNum\": blinds_num,\n                \"HomeKitMessage\": homekitMessage,\n                \"feedback\": true\n            };\n            // node.warn(\"feedback:\"); node.warn(feedback);\n            node.send([null, { payload: feedback }]);\n        }, 1000);\n    } else {\n        currentPosition = context.set('currentPosition', -1);\n    }\n}\n// let self = this;\n\n// setTimeout(function() {\n//     if (self.timerID) {\n//         clearTimeout(self.timerID);\n//         node.warn('Timer canceled');\n//     }\n    let blinds_number = msg.payload.blinds_num;\n    let targetposition = msg.payload.TargetPosition;\n    // node.warn(\"msg:\"); node.warn(msg);\n    // node.warn(self);\n    controlBlind(blinds_number, targetposition);\n// }, 2000);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// this.timerID = setTimeout(function () {\n//     node.warn('Timer started');\n// }, 2000);\n",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 620,
        "wires": [
            [
                "dfd53ea1d5890787"
            ],
            [
                "80aff275957df4e8"
            ]
        ]
    },
    {
        "id": "57ca31ee7a894876",
        "type": "switch",
        "z": "cc792ed57a172589",
        "g": "7195f78019a35ca2",
        "name": "IgnoreNullTargetPosition",
        "property": "payload.TargetPosition",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 620,
        "wires": [
            [
                "9b49104bd8d851e0"
            ]
        ]
    },
    {
        "id": "dfd53ea1d5890787",
        "type": "link out",
        "z": "cc792ed57a172589",
        "g": "7195f78019a35ca2",
        "name": "HomeKit: Pico2",
        "mode": "link",
        "links": [
            "a1f2d652a8562d2e",
            "e6c68f48120d5237",
            "cad8685a2dd7e059"
        ],
        "x": 1675,
        "y": 600,
        "wires": []
    },
    {
        "id": "b598a9454022b6d6",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "0b371e439ee48be4",
        "name": "blinds_num = 19",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "19",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "285eece41d011bc5",
        "type": "function",
        "z": "cc792ed57a172589",
        "name": "FeedbackCurrentPosition ",
        "func": "let numOfOutputs = 21;\nlet blindsNum = msg.payload.BlindsNum;\nlet homekitMessage = msg.payload.HomeKitMessage;\nlet outputIndex;\n\n// Determine the output index based on the blindsNum\nif(blindsNum == 0){\n    outputIndex = 0;\n} else if (blindsNum >= 2 && blindsNum <= 4) {\n    outputIndex = 22 - blindsNum;\n} else if (blindsNum >= 8 && blindsNum <= 24) {\n    outputIndex = 25 - blindsNum;\n} else {\n    outputIndex = null;\n}\n\n// output array with nulls for all except the one determined by the blindsNum\nlet outputArray = Array.from({ length: numOfOutputs }, () => null);\nif (outputIndex !== null) {\n    outputArray[outputIndex] = { payload: homekitMessage };\n}\n\nreturn outputArray;",
        "outputs": 21,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 540,
        "wires": [
            [
                "1ba16adb7dd28321"
            ],
            [
                "d623c2e013984d1e"
            ],
            [
                "5bfb88c50a411c92"
            ],
            [
                "d96b74de59109486"
            ],
            [
                "e3970137f216f789"
            ],
            [
                "2a086b1f0b47bee1"
            ],
            [
                "9854a40f49a5819c"
            ],
            [
                "146790e10a4134fd"
            ],
            [
                "00feacb416688361"
            ],
            [
                "51027083133c6067"
            ],
            [
                "b4e6270a62b2082c"
            ],
            [
                "5ecc5a42721a1d11"
            ],
            [
                "2d431610c086c526"
            ],
            [
                "3bcd6a79b4b749d5"
            ],
            [
                "4b2937bb39ad6227"
            ],
            [
                "64e347413da22d71"
            ],
            [
                "ea81ab3aa51efed5"
            ],
            [
                "15366badb241c91d"
            ],
            [
                "d373918f78c10f6e"
            ],
            [
                "dacafddb15a5be2b"
            ],
            [
                "bf02f5e4dfbed7c7"
            ]
        ]
    },
    {
        "id": "95f1cc1c3298f42a",
        "type": "link in",
        "z": "cc792ed57a172589",
        "name": "FeedbackCurrentPosition",
        "links": [
            "80aff275957df4e8"
        ],
        "x": 75,
        "y": 540,
        "wires": [
            [
                "285eece41d011bc5"
            ]
        ]
    },
    {
        "id": "e3970137f216f789",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "6f244661782ea9fd",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Hall Doug blinds",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "8cbd999700a60130"
            ],
            []
        ]
    },
    {
        "id": "8cbd999700a60130",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "6f244661782ea9fd",
        "name": "blinds_num = 21",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "21",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "5169d8b2c2eeb3bf",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "a03e12c588ed395f",
        "name": "blinds_num = 0",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "146790e10a4134fd",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "970880be09a74a56",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "18 NA",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "13175e17a940ba06"
            ],
            []
        ]
    },
    {
        "id": "13175e17a940ba06",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "970880be09a74a56",
        "name": "blinds_num = 18",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "00feacb416688361",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "0a6ed8c428ed9856",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "17",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "00d7ffdd7ff3d588"
            ],
            []
        ]
    },
    {
        "id": "00d7ffdd7ff3d588",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "0a6ed8c428ed9856",
        "name": "blinds_num = 17",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "17",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 700,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "51027083133c6067",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "03e886e5d7a0a166",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "16",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 780,
        "wires": [
            [
                "34dbf04ba0cc7e5d"
            ],
            []
        ]
    },
    {
        "id": "34dbf04ba0cc7e5d",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "03e886e5d7a0a166",
        "name": "blinds_num = 16",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "16",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 780,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "b4e6270a62b2082c",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "a6dd2e03079c7c75",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "15",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 860,
        "wires": [
            [
                "34ddd89cfb24b6b6"
            ],
            []
        ]
    },
    {
        "id": "34ddd89cfb24b6b6",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "a6dd2e03079c7c75",
        "name": "blinds_num = 15",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "15",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 860,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "5ecc5a42721a1d11",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "110d6e6809ebf49b",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "14",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 940,
        "wires": [
            [
                "82fc16c7c2e398cc"
            ],
            []
        ]
    },
    {
        "id": "82fc16c7c2e398cc",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "110d6e6809ebf49b",
        "name": "blinds_num = 14",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "14",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 940,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "2d431610c086c526",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "2a02ae9301f06607",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "13",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "30327e90dc165026"
            ],
            []
        ]
    },
    {
        "id": "30327e90dc165026",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "2a02ae9301f06607",
        "name": "blinds_num = 13",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "13",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1020,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "3bcd6a79b4b749d5",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "b02af391279f52e2",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "12",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "10084bed99091ce1"
            ],
            []
        ]
    },
    {
        "id": "10084bed99091ce1",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "b02af391279f52e2",
        "name": "blinds_num = 12",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "1ba16adb7dd28321",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "a03e12c588ed395f",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "All Blinds",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "5169d8b2c2eeb3bf"
            ],
            []
        ]
    },
    {
        "id": "4b2937bb39ad6227",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "10b0cd14d226c1c3",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "11",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1180,
        "wires": [
            [
                "d0f0047ecc0adba4"
            ],
            []
        ]
    },
    {
        "id": "d0f0047ecc0adba4",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "10b0cd14d226c1c3",
        "name": "blinds_num = 11",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1180,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "64e347413da22d71",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "c4140188642fd160",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "10",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1260,
        "wires": [
            [
                "0eac733c983e69b4"
            ],
            []
        ]
    },
    {
        "id": "0eac733c983e69b4",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "c4140188642fd160",
        "name": "blinds_num = 10",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1260,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "ea81ab3aa51efed5",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "da38845be9b02156",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "9 NA",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "aab2df504b09424a"
            ],
            []
        ]
    },
    {
        "id": "aab2df504b09424a",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "da38845be9b02156",
        "name": "blinds_num = 9",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "9",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1340,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "15366badb241c91d",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "993e4b754237ea12",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "8",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "4d9c5e0a390d0b6c"
            ],
            []
        ]
    },
    {
        "id": "4d9c5e0a390d0b6c",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "993e4b754237ea12",
        "name": "blinds_num = 8",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1420,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "e0cd778793a36050",
        "type": "comment",
        "z": "cc792ed57a172589",
        "name": "Pico2 homekit accessories",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "d373918f78c10f6e",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "436a1221fad7c120",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "Conference East",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1500,
        "wires": [
            [
                "83437cd02eb2c47b"
            ],
            []
        ]
    },
    {
        "id": "83437cd02eb2c47b",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "436a1221fad7c120",
        "name": "blinds_num = 4",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1500,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "dacafddb15a5be2b",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "9f63809c74c927f0",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "Conference North2",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1580,
        "wires": [
            [
                "6536bfe53655a8ae"
            ],
            []
        ]
    },
    {
        "id": "6536bfe53655a8ae",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "9f63809c74c927f0",
        "name": "blinds_num = 3",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1580,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "bf02f5e4dfbed7c7",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "a69c78d269a245ac",
        "isParent": true,
        "hostType": "0",
        "bridge": "409001a1.3e7a78",
        "accessoryId": "",
        "parentService": "",
        "name": "Conference North1",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 1660,
        "wires": [
            [
                "c346b2fcd87d3678"
            ],
            []
        ]
    },
    {
        "id": "c346b2fcd87d3678",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "a69c78d269a245ac",
        "name": "blinds_num = 2",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1660,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "d623c2e013984d1e",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "aed581126b8c329f",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Suite West small",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "19fc56d5c2aa9aad"
            ],
            []
        ]
    },
    {
        "id": "19fc56d5c2aa9aad",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "aed581126b8c329f",
        "name": "blinds_num = 24",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "24",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "5bfb88c50a411c92",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "dca074dccfefc042",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Suite West",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "c74eba7709b55af2"
            ],
            []
        ]
    },
    {
        "id": "c74eba7709b55af2",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "dca074dccfefc042",
        "name": "blinds_num = 23",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "23",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "d96b74de59109486",
        "type": "homekit-service",
        "z": "cc792ed57a172589",
        "g": "bb69f771b29b7f7d",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Suite SouthWest",
        "serviceName": "WindowCovering",
        "topic": "",
        "filter": false,
        "manufacturer": "unknown",
        "model": "Dummy",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.1.9",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": "",
        "cameraConfigMaxWidth": "",
        "cameraConfigMaxHeight": "",
        "cameraConfigMaxFPS": "",
        "cameraConfigMaxBitrate": "",
        "cameraConfigVideoCodec": "",
        "cameraConfigAudioCodec": "",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": "",
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "",
        "cameraConfigMapAudio": "",
        "cameraConfigVideoFilter": "",
        "cameraConfigAdditionalCommandLine": "",
        "cameraConfigDebug": false,
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "f9733619d4eb1c4f"
            ],
            []
        ]
    },
    {
        "id": "f9733619d4eb1c4f",
        "type": "change",
        "z": "cc792ed57a172589",
        "g": "bb69f771b29b7f7d",
        "name": "blinds_num = 22",
        "rules": [
            {
                "t": "set",
                "p": "payload.blinds_num",
                "pt": "msg",
                "to": "22",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "57ca31ee7a894876"
            ]
        ]
    },
    {
        "id": "80aff275957df4e8",
        "type": "link out",
        "z": "cc792ed57a172589",
        "g": "7195f78019a35ca2",
        "name": "FeedbackCurrentPosition",
        "mode": "link",
        "links": [
            "95f1cc1c3298f42a"
        ],
        "x": 1675,
        "y": 640,
        "wires": []
    },
    {
        "id": "409001a1.3e7a78",
        "type": "homekit-bridge",
        "bridgeName": "node-red-bridge",
        "pinCode": "123-45-678",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "Demo",
        "serialNo": "1.1.2",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "ca3fb06829513939",
        "type": "homekit-bridge",
        "bridgeName": "Doug bridge",
        "pinCode": "2604-1365",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.6.1",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.6.1",
        "hardwareRev": "1.6.1",
        "softwareRev": "1.6.1",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
